body {
	font-family: var(--font-sans);
	font-size: 0.875rem;

	@media (--mq-from-small) {
		font-size: 1rem;
	}

	@media (--mq-from-wide) {
		font-size: 1.125rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-sans);
	margin-bottom: 0.875rem;
	margin-top: 0.875rem;

	@media (--mq-from-small) {
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&:only-child {
		margin-bottom: 0;
		margin-top: 0;
	}
}

h1 {
	font-size: 1.875rem;
	line-height: normal;

	@media (--mq-from-small) {
		font-size: 2.25rem;
	}

	@media (--mq-from-wide) {
		font-size: 3.0rem;
	}
}

h2 {
	font-size: 1.5rem;
	line-height: normal;

	@media (--mq-from-small) {
		font-size: 1.75rem;
	}

	@media (--mq-from-wide) {
		font-size: 2.25rem;
	}
}

h3 {
	font-size: 1.25rem;
	line-height: normal;

	@media (--mq-from-small) {
		font-size: 1.5rem;
	}

	@media (--mq-from-wide) {
		font-size: 2rem;
	}
}

h4 {
	font-size: 1rem;
	line-height: normal;

	@media (--mq-from-small) {
		font-size: 1.125rem;
	}

	@media (--mq-from-wide) {
		font-size: 1.5rem;
	}
}

h5 {
	font-size: 0.875rem;
	line-height: normal;

	@media (--mq-from-small) {
		font-size: 1rem;
	}

	@media (--mq-from-wide) {
		font-size: 1.25rem;
	}
}

h6 {
	font-size: 0.875rem;
	line-height: normal;

	@media (--mq-from-small) {
		font-size: 1rem;
	}

	@media (--mq-from-wide) {
		font-size: 1.125rem;
	}
}

i,
em,
blockquote {
	font-style: italic;
}
